mule-migration-tool-library/src/test/resources/mule/apps/apikit/steps/uriparams/uriparams-01-original.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!--
        APIKit post tasks will be executed after all migration steps.
        At this point:
        - URI params in flow names will be enclosed in parentheses
        - flowVars will be replaced with vars
     -->
    <flow name="main" />
    <flow name="main-console" />
    <flow name="get:/resources/(id):mma-test-api-config">
        <logger message="Retrieving resource. Resource Id: #[vars.id]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="get:/resources/(id)/nested-resources/(nestedResourceId):mma-test-api-config">
        <logger message="Retrieving nested resource. Resource Id: #[vars.id], Nested Resource Id: #[vars.nestedResourceId]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
